{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
  <div>
    <p>
      Расскажу о себе, используя скромные умения верстать.</br>
      4 спринт - 3 учебный проект. Тяжело, много вопросов и не понимая.</br>
      Самое главное это понять дзен Python</br>
    </p>
  </div>
  <p>
  <h3>Дзен Python:</h3>
  <i>Красивое лучше, чем уродливое.</br>
    Явное лучше, чем неявное.</br>
    Простое лучше, чем сложное.</br>
    Сложное лучше, чем запутанное.</br>
    Плоское лучше, чем вложенное.</br>
    Разреженное лучше, чем плотное.</br>
    Читаемость имеет значение.</br>
    Особые случаи не настолько особые, чтобы нарушать правила.</br>
    При этом практичность важнее безупречности.</br>
    Ошибки никогда не должны замалчиваться.</br>
    Если они не замалчиваются явно.</br>
    Встретив двусмысленность, отбрось искушение угадать.</br>
    Должен существовать один и, желательно, только один очевидный способ
    сделать это.</br>
    Хотя он поначалу может быть и не очевиден, если вы не голландец.</br>
    Сейчас лучше, чем никогда.</br>
    Хотя никогда зачастую лучше, чем прямо сейчас.</br>
    Если реализацию сложно объяснить — идея плоха.</br>
    Если реализацию легко объяснить — идея, возможно, хороша.</br>
    Пространства имён — отличная штука! Будем делать их больше!</i></br>
  </p>
{% endblock %}